<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Iniciar sesi칩n</title>
	<link rel="stylesheet" href="http://localhost:3000/css/style.css">
	<script type="text/javascript" src="http://localhost:3000/js/main.js"></script>
</head>
<body>	
	<div id="capaBlanca">

	</div>
	<div id="login">
		<div class="titleLogin">
			<h1>GeClinic</h1>
		</div>
		<div class="contentForm">
			<form action="/login/validate" method="POST">
				<label for="Usuario">Usuario:</label>
				<input type="text" name="Usuario">
				<label for="Pass">Contrase침a:</label>
				<input type="password" name="Pass">
				<input class="checkbox" type="checkbox" name="check">
				<label class="checkbox2" for="check">Recuerda esta sesi칩n</label>
				<button type="submit">Iniciar sesi칩n</button>
			</form>
		</div>
		<div class="footerLogin">
			<p>2018 - GeClinic. Todos los derechos reservados</p>
		</div>
	</div>
</body>
</html>